 <launch>

<!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find tutorial_gazebo)/urdf/demo1.xacro'" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
     <param name="publish_frequency" type="double" value="100.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tutorial_gazebo)/config/demo.rviz"/>

</launch>
